# Config filter=lfs diff=lfs merge=lfs -text
# Source filter=lfs diff=lfs merge=lfs -text
# build.sh filter=lfs diff=lfs merge=lfs -text
# vcpkg.json filter=lfs diff=lfs merge=lfs -text
# Binary filter=lfs diff=lfs merge=lfs -text
