[submodule "Source/ThirdParty/yalantinglibs"]
	path = Source/ThirdParty/yalantinglibs
	url = https://gitee.com/minhanghuang/yalantinglibs.git
[submodule "Source/ThirdParty/vmime"]
	path = Source/ThirdParty/vmime
	url = https://github.com/kisli/vmime.git
